/* @import "light_theme_pepa_linha.css"; */
@import "dark_theme_pepa_linha.css";

:root {
    --shadow-table: none;
}

body {
    font-size: 14px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0 15px;
    display: none;
}

h3 {
    margin: 15px 0 15px;
}

fieldset {
    margin: 0;
}

#breadcrumb {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px !important;
}

#content > p + form {
    margin-top: 15px;
}

#tables {
    margin-top: 15px;
}

table {
    background: unset;
}

thead {
    z-index: 1000;
}

thead td,
thead td a,
thead td a:link:hover,
thead td a:visited,
thead td a:visited:hover,
thead th,
thead th a,
thead th a:link:hover,
thead th a:visited,
thead th a:visited:hover {
    padding: 5px;
}

th,
td {
    padding: 5px;
    font-size: 14px;
}

.odds > tbody {
    background: var(--color-background);
}

.odds tbody tr:nth-child(2n) {
    background: unset;
}

.odds tbody tr:nth-child(2n) {
    background: unset;
}

.odds > tbody > tr:nth-child(2n) {
    background: var(--color-table-row-odd);
}

#table td:has(#all-page),
#table td:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
}

#table td:has(#all-page) a {
    padding-left: 0px;
}

#menu {
    z-index: 1000;
}

#menu h1 {
    background: none;
    display: none;
}

#menu #dbs label {
    width: 100%;
    margin: unset;
}

.logout,
.rtl .logout {
    background-color: unset;
    box-shadow: none;
    font-size: 20px;
    font-weight: bold;
    top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#logout {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;

    line-height: normal;
    /* padding-left: 20px; */
    padding: 0;
}

.footer {
    box-shadow: none;
}

.plugins {
    display: none;
}

#menu p.links {
    justify-content: center;
    align-items: center;
    margin: unset;
}

#menu p.links a {
    text-indent: -99999px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover !important;
}

#tables li {
    align-items: baseline;
}

#tables a.select {
    display: block;
    height: 16px;
    margin-left: 8px;
    padding-top: 1px;
    overflow: hidden;
    text-indent: -9999999px;
    text-decoration: none;
    background: url("assets/table.png") no-repeat scroll center bottom;
    background-size: contain;
}

#tables a {
    order: unset !important;
}

#tables a.active.select,
#tables li:has(a.active.structure) a.select {
    background: url("assets/table-active.png") no-repeat scroll center bottom;
    background-size: contain;
}

#tables li:has(a.active.select) a.structure {
    font-weight: bold;
}

.message {
    font-size: 20px;
}

/* AdminerJsonPreview */
.json {
    border: 1px solid var(--color-purple-600);
}

.json tr {
    border-bottom: 1px solid var(--color-purple-600);
}

.json th {
    border-right: 1px solid var(--color-purple-600);
}

.json > tbody {
    border: 1px solid var(--color-purple-600);
}

.json .json > tbody {
    border: none;
}

.json th {
    color: var(--color-table-head-text);
    font-weight: bold;
}

.json code {
    font-size: inherit;
}

a.json-icon {
    background-image: url("assets/down.gif");
    background-color: var(--color-purple-1000);
}

a.json-icon.json-up {
    background-image: url("assets/up.gif");
}

/* AdminerTablesFilter */
#tables li.hidden {
    display: none;
}

#filter-field {
    width: 100%;
}

body.light {
    #menu .links a[href$="&sql="] {
        background: url("assets/sql-dark.png") no-repeat scroll center center;
        height: 30px;
        width: 20px;
    }

    #menu .links a[href$="&import="] {
        background: url("assets/import-sql-dark.png") no-repeat scroll center center;
    }

    #menu .links a[href*="&dump="] {
        background: url("assets/export-sql-dark.png") no-repeat scroll center center;
    }

    #menu .links a[href$="&create="] {
        background: url("assets/create-table-dark.png") no-repeat scroll center center;
    }

    #tables a.active.select,
    #tables li:has(a.active.structure) a.select {
        background: url("assets/table-active-dark.png") no-repeat scroll center bottom;
        background-size: contain;
    }

    #tables a.select {
        background: url("assets/table-dark.png") no-repeat scroll center bottom;
        background-size: contain;
    }
}

body.dark {
    #menu .links a[href$="&sql="] {
        background: url("assets/sql.png") no-repeat scroll center center;
        height: 30px;
        width: 20px;
    }

    #menu .links a[href$="&import="] {
        background: url("assets/import-sql.png") no-repeat scroll center center;
    }

    #menu .links a[href*="&dump="] {
        background: url("assets/export-sql.png") no-repeat scroll center center;
    }

    #menu .links a[href$="&create="] {
        background: url("assets/create-table.png") no-repeat scroll center center;
    }
}
